button {
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.big-text {
  font-size: 80px;
}

.normal-text {
  font-size: 50px;
}

.small-text {
  font-size: 30px;
}

.mg-20 {
  margin-bottom: 20px;
}

img {
  width: 100%;
}
